mixin addIndicator(indicator, id_)
  form.form-inline(id=id_)
    //- .checkbox
    //-   label
    //-     input(type='checkbox')
    .form-group
      label(for='inputEmail')= indicator
      input.form-control(type='text', placeholder='Param', required='', id=`addIndicator_${id_}`)
    button.btn(type='button', id=`addIndicatorBtn_${id_}`) Add
    button.btn(type='button', id='removeIndicator') X
