mixin relationRow(relationRow)
  tr(id='rr' + '-' + relationRow)
    td 
      select(id='iA' + '-' + relationRow).form-control
        option SMA
        option EMA
        option RSI
        option MACD
    td
      input(id='pA' + '-' + relationRow).form-control(type='number')
    td
      select(id='r' + '-' + relationRow).form-control
        option <
        option >
        option =
    td
      select(id='iB' + '-' + relationRow).form-control
        option SMA
        option EMA
        option RSI
        option MACD
    td
      input(id='pB' + '-' + relationRow).form-control(type='number')
