mixin relationRow()
  tr
    td 
      select.form-control
        option SMA
        option EMA
        option RSI
        option MACD
    td
      input.form-control(type='number')
    td
      select.form-control
        option <
        option >
        option =
    td
      select.form-control
        option SMA
        option EMA
        option RSI
        option MACD
    td
      input.form-control(type='number')
