extends layout

block content
  .row
    .col-md-12
      h1.page-header Price for #{currencyPair}
  .row
    .col-md-12
      form.form-inline(action='/tick', method='GET')
        .form-group
          label(for='baseCurrency') Base Currency
          input#exampleInputName2.form-control(type='text', placeholder='BTC')
        .form-group
          label(for='tradeCurrency') Trade Currency
          input#exampleInputEmail2.form-control(type='text', placeholder='ETH')
        button.btn.btn-primary#coolbutton(type='button') Get Chart!
      br
  .row
    .col-md-12
      //- Chart
      .panel.panel-default
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          |  Trading Signals
        .panel-body
          .row
            .col-lg-12
              #hcharts-strategy
              p something is supposed to be here
      .panel.panel-default
        .panel-heading
          p Data from places 
        .panel-body
          .row
            .col-lg-12
              #{tickData}