extends layout

block content
  .row(style="margin-top: 20px;")
    .col-lg-2
      img(src="assets/Ostia-ship-blue.png" style='height: 100%; width: 100%; object-fit: contain')
    .col-lg-10
      h1 Ostia Trading Platform
      p.lead A cryptocurrency trading platform built over Poloniex.
      hr
  .row
    .col-sm-6
      h2 Manage Your Portfolios
      p 
      p The current major exchanges don't provide an interface to manage your portfolios. Ostia gives you a set of expressive portfolio management tools so you're always on top of your accounts' performance.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Design Algorithmic Strategies
      p 
      p You can design a strategy from scratch using our set of techincal indicators. Select your currency pair and indicators, design your algorithm, backtest and deploy. It's as simple as that.
      p
        a.btn.btn-default(href='#', role='button') View details »
