<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            #chat_zone strong {
                color: white;
                background-color: black;
                padding: 2px;
            }
        </style>
    </head>

    <body>
        <h1>Test</h1>

        <section id="chat_zone">

        </section>


        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connecting to socket.io
            var socket = io.connect('http://localhost:3000');

            // When a message is received it's inserted in the page
            socket.on('message', function(data) {
                insertStock(data.message);
            })

            // Adds a message to the page
            function insertStock(message) {
                $('#chat_zone').prepend('</strong> ' + message + '</p>');
            }
        </script>
    </body>
</html>
