extends layout

include partials/currencyChart
include partials/addIndicator

block content
  p.lead Create a trading strategy.

  ol 
    li Select a currency pair
    li Select indicators
    li Define your algorithm
    li Back test your algorithm

  
  .row
    .col-md-9
      form.form-inline#chartForm(action='/tick', method='GET')
        .form-group
          label(for='baseCurrency') Base Currency 
          input#baseCurrency.form-control(type='text', placeholder='BTC', value='BTC')
        .form-group
          label(for='tradeCurrency') Trade Currency    
          input#tradeCurrency.form-control(type='text', placeholder='ETH', value='ETH')
          button.btn.btn-primary#chartButton(type='button') Select Pair
    .col-md-3
      h5 Enter two currencies to get a chart! 
  .row
    .progress
      .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:100%')
        | Querying tick database...
    br
  .row
    .col-lg-12
      //- Chart
      .panel.panel-default
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          | 1. Select Currency Pair 
        .panel-body
          .row
            .col-lg-12
              #hcharts-strategy          
          .row
            .col-lg-12
              h4 Indicators
              +addIndicator("Simple Moving Average", "SMA")
              +addIndicator("Exponential Moving Average", "EMA")
              +addIndicator("Relative Strength Index", "RSI")
              +addIndicator("Moving Average Convergence Divergence", "MACD")
 
    //- Rule creation panel
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          | 2. Algorithm Design
        .panel-body
          .row
            //- .col-lg-12
            .col-lg-6
              p.lead Buy Triggers
              .form-group
                label(for='buyrules') Rules:
                textarea#comment.form-control(rows='5')

            .col-lg-6
              p.lead Sell Triggers
              .form-group
                label(for='sellrules') Rules:
                textarea#comment.form-control(rows='5')

 
  //- Strategy backtest panel
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          | 2. Strategy Backtesting
        .panel-body
          .row
            .col-lg-12
              p.lead Backtest your strategy here
                .row

  //- Buttons        
  .row
    .col-lg-12
      .btn-toolbar
        button.pull-right.btn.btn-primary(type='button') Deploy Strategy
        button.pull-right.btn(type='button') Save Strategy