@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 60px;
  margin-bottom: 75px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px; }
  footer p, footer ul {
    margin-bottom: 0; }

textarea {
  resize: vertical; }

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px; }

.alert {
  margin-top: 20px; }

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000; }

.fa {
  margin-right: 6px; }

.progress {
  display: none; }
